<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title>Colors</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#"><img src="logo-symbol.svg"/></a>
    <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </nav>
